<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/layout :: content">

<div class="container">

    <h2>Categories</h2>

    <!-- FORM -->
    <form th:action="@{/categories}" method="post">
        <input type="hidden" th:field="${category.id}">

        <div class="form-group">
            <label>Name</label>
            <input type="text"
                   class="form-control"
                   th:field="${category.name}">
        </div>

        <div class="form-group">
            <label>Image URL</label>
            <input type="text"
                   class="form-control"
                   th:field="${category.imageUrl}">
        </div>

        <button class="btn btn-success mt-2">
            Save
        </button>
    </form>

    <hr>

    <!-- LIST -->
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="c : ${categories}">
            <td th:text="${c.name}"></td>

            <td>
                <img th:src="${c.imageUrl}" width="80">
            </td>

            <td>
                <a class="btn btn-warning btn-sm"
                   th:href="@{/categories/edit/{id}(id=${c.id})}">
                    Edit
                </a>

                <a class="btn btn-danger btn-sm"
                   th:href="@{/categories/delete/{id}(id=${c.id})}">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</html>
