<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>

<div th:replace="layout/layout :: layout(~{::section})">

    <section>
        <h2>Forgot Password</h2>

        <form th:action="@{/forgot-password}" method="post">
            <input type="email"
                   name="email"
                   class="form-control"
                   placeholder="Enter email">

            <button class="btn btn-primary mt-2">
                Send reset link
            </button>
        </form>
    </section>

</div>

</body>
</html>
