<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="layout/layout :: layout(~{::section})">

    <section>

        <h2>Course List</h2>

        <a class="btn btn-primary mb-3" th:href="@{/add}">
            Add New Course
        </a>

        <table class="table">
            <tbody>
            <tr th:each="course : ${listCourses}">
                <td th:text="${course.courseName}"></td>
                <td th:text="${course.instructor}"></td>
                <td th:text="${course.email}"></td>
            </tr>
            </tbody>
        </table>

    </section>

</div>

</html>
